<h1>Invoice</h1>

<table border="1" cellpadding="5">
{% for lineitem in invoice.lineitems %}
    <tr>
        {% if lineitem.type == 'hourly' %}

            <td>
                {{ lineitem.name }} ({{ lineitem.hours }} x {{ lineitem.hourly_rate }}/hr)
            </td>
            <td align="right">
                {{ (lineitem.hours * lineitem.hourly_rate)|money_format }}
            </td>

        {% elif lineitem.type == 'fixed' %}

            <td>
                {{ lineitem.name }}
            </td>
            <td align="right">
                {{ lineitem.amount|money_format }}
            </td>

        {% elif lineitem.type == 'recurring' %}

            <td>
                {{ lineitem.name }}
            </td>
            <td align="right">
                {{ lineitem.amount|money_format }} / {{ lineitem.measurement }}
            </td>

        {% endif %}
    </tr>
{% endfor %}

<tr><td colspan="2"></td></tr>

<tr>
    <td align="right"><strong>Subtotal:</strong></td>
    <td align="right"><strong>{{ invoice.subtotal|money_format }}</strong></td>
</tr>
<tr>
    <td align="right"><strong>Taxes ({{ invoice.tax_percentage }}):</strong></td>
    <td align="right"><strong>{{ (invoice.subtotal * invoice.tax_percentage / 100)|money_format }}</strong></td>
</tr>
<tr>
    <td align="right"><strong>Total:</strong></td>
    <td align="right"><strong>{{ invoice.total|money_format }}</strong></td>
</tr>
</table>
